@model int  // OrderID 
@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <form id="frmShipping">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chuyển giao hàng cho đơn hàng #@Model</h4>
            </div>
            <input type="hidden" name="orderId" value="@Model" />
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Người giao hàng:</label>
                    <select class="form-control" name="shipperID" asp-items="await SelectListHelper.Shippers()">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i> Cập nhật
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Bỏ qua
                </button>
            </div>
        </form>
    </div>
</div>
