<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 1.0
    </div>
    <strong>Bản quyền &copy; 2025-2026 đăng ký bởi <a href="#">Shopbee</a>.</strong>
</footer>