
@{
}
<div class="col-md-6">
    <div class="form-group">
        @Html.ValidationMessage("Error")
    </div>
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Đổi mật khẩu</h3>
        </div>
        <form class="form-horizontal" action="@Url.Action("ChangePassword","Account")" method="post">
            <div class="box-body">
                <div class="form-group">
                    <label for="oldPassword" class="col-sm-3 control-label">Mật khẩu cũ</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Nhập mật khẩu cũ" autofocus required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newPassword" class="col-sm-3 control-label">Mật khẩu mới</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Nhập mật khẩu mới" required>
                    </div>
                </div>
               
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="~/Home" class="btn btn-default">
                    Hủy
                </a>
                <button type="submit" class="btn btn-info pull-right">Lưu</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</div>